<div class="comment">
    <div class="comment-title">
        <h4>{{user.username}} commented on {{format_date created_at}}</h4>
    </div>
    <div class="comment-body">
        {{body}}
    </div>
</div>