<ul class="posts">
    {{#each posts as |post|}}
    <li data-post-id="{{post.id}}">
        {{> post-info post}}
    </li>
    {{/each}}
</ul>
<button id="create-new-post">Create New Post</button>
<script src="/javascript/dashboard.js"></script>