<ul class="posts">
    {{#each posts as |post|}}
    <li data-post-id="{{post.id}}">
        {{> post-info post}}
    </li>
    {{/each}}
</ul>
<div id="create-new-post">
    <button>Create New Post</button>
</div>
<script src="/javascript/dashboard.js"></script>