<div class="no-hover-card">
    <div class="card-title">
        <h3>Login</h3>
    </div>
    <div class="card-body">
        <form class="form" id="login-form">
            <div class="form-title">
                <label for="username-login">Username</label>
                <input type="text" id="username-login" />
            </div>
            <div class="form-body">
                <label for="password-login">Password</label>
                <input type="password" id="password-login" />
            </div>
            <div class="form-buttons">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <a href="/signup">Sign Up</a>
    </div>
</div>
<script src="/javascript/login.js"></script>
