<div class="card">
    <div class="card-title">Sign Up</div>
    <div class="card-body">
        <form class="login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <a href="/login">Login</a>
    </div>
</div>